:root {
    --primary-color: rgb(78, 152, 255);
    --secundary-c: rgb(0, 14, 205);
    --tertiary-color: rgb(8, 0, 62);
}

.TitleName {
    color: var(--tertiary-color);
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: transparent;
}

/* Para navegadores WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Para Firefox */
input[type="number"] {
  appearance: textfield;
}
