:root {
    --primary-color: rgb(78, 152, 255);
    --secundary-color: aliceblue;
    --tertiary-color: rgb(8, 0, 62);
    --quaternary-color: rgb(15, 0, 114);
    --quinary-color: rgb(24, 0, 178);
}

.sidebar-container {
    display: flex;
    height: 100vh;
    transition: all 0.3s ease;
    position: relative;
}

.sidebar {
    height: 100vh;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    width: 280px; /* Tamaño máximo del SideBar */
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden; 
}

.sidebar.collapsed {
    width: 90px; /* Tamaño mínimo del SideBar */
}

.toggle-btn {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    align-items: center;
    cursor: pointer;
    background-color: var(--quinary-color);
    color: var(--secundary-color);
    transition: all 0.3s ease;
    position: absolute;
    border-radius: 100%;
    right: -15px;
    top: 10px;
}

.toggle-btn i {
    font-size: .8rem; /* Ajuste del tamaño del icono */
    color: var(--secundary-color);
}

.nav-link span, .dropdown-toggle span, .dropdown-item span {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.collapsed .nav-link span, .collapsed .dropdown-toggle span, .collapsed .dropdown-item span {
    opacity: 0;
    transition: opacity 0.2s ease 0.1s;
}

.expanded .nav-link span, .expanded .dropdown-toggle span, .expanded .dropdown-item span {
    opacity: 1;
    transition: opacity 0.3s ease 0.3s;
}

.expanded .sidebar {
    width: 260px; /* Tamaño máximo del SideBar */
}

.collapsed .sidebar {
    width: 70px; /* Tamaño mínimo del SideBar */
}

.side_Background {
    background-color: var(--primary-color);
    transition: all 0.8s ease-in-out;
    font-family: 'Arial', sans-serif;
}

.logo_SideBar {
    max-width: 60px;
    max-height: 60px;
    margin-left: 5px;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(285deg) brightness(100%);
    z-index: 100;
    animation: bounce 2.5s none;
    transition: all 0.5s;
}

.app_2 {
    left: 140px;
    top: 58px;
    animation: aparecer ease-in-out 1.5s;
}

.content-container {
    animation: aparecer ease-in-out 1.5s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.letter {
    letter-spacing: 0.7px;
}

.nav-pills .nav-link {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color) !important;
    color: var(--secundary-color) !important;
    font-size: 1rem; /* Tamaño de letra del título principal */
}

.dropdown-item {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Tamaño de letra de las opciones desplegables */
    color: var(--secundary-color) !important;
    padding-left: 1.5rem;
    transition: all 0.3s ease;
    margin-top: 2px;
}

.dropdown-item:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown-item::before {
    content: '→';
    font-size: 1rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 5px !important;
}

.dropdown-item:hover::before {
    transform: translateX(5px);

}

.nav-pills .nav-link.active, 
.nav-pills .nav-link:hover,
.dropdown-item.active {
    background-color: var(--secundary-color) !important;
    color: var(--primary-color) !important;
}

a.dropdown-item:hover {
    font-weight: bold !important;
    background-color: var(--secundary-color);
    color: var(--primary-color) !important;
}

.pointer {
    cursor: pointer;
}

.activeF {
    background-color: var(--secundary-color) !important;
    color: var(--primary-color) !important;
    border-top-right-radius: -0% !important;
    border-bottom-right-radius: -0% !important;
    position: relative;
}

.itemOption {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: .5rem;
}

.itemOption:hover {
    color: var(--primary-color) !important;
}

.dropdown-menu.show {
    width: 200px;
    transition: all 0.3s ease-out;
}

.fontColor {
    color: var(--primary-color) !important;
}

.fontColor:hover {
    font-weight: bold !important;
    background-color: var(--secundary-color);
    color: var(--primary-color) !important;
}

.activeF:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 20%;
    height: 100%;
    background-color: var(--secundary-color);
    transition: 1.5s ease-in-out;
}

@media (max-width: 400px) {
    .logo_SideBar {
        max-width: 50px;
        max-height: 50px;
        margin-left: 5px;
        z-index: 100;
        animation: bounce 2.5s none;
    }
}
