.thead_bg th {
    background-color: rgb(8, 0, 62);
    color: #fff;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .scroll-container {
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
    .scroll-container {
        overflow-y: hidden; /* Oculta el scroll */
    }
}
