.user_status_true {
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 4px;
    margin: auto;
    font-size:small; 
}

.user_status_false {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 4px;
    margin: auto;
    font-size:small; 
}
