:root {
    --primary-color: rgb(78, 152, 255);
    --secundary-c: rgb(0, 14, 205);
}

.contain {
    font-family: 'roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    color: #333;
}

h3 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #333;
}

.SchoolName {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    border: 5px solid var(--primary-color);
}

.thead_bg {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.profile_image {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
}

.profile_image img {
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px 5px rgba(92, 138, 255, 0.549);
}

.bi-pencil-square {
    position: relative;
    bottom: 35px;
    left: 115px;
}

/* Estilos personalizados para el scroll vertical */
.overflow-auto::-webkit-scrollbar {
    width: 6px;
    /* Ancho del scroll */
}

.overflow-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color de fondo del track */
}

.overflow-auto::-webkit-scrollbar-thumb {
    background: #888;
    /* Color del thumb (la barra que se arrastra) */
    border-radius: 4px;
    /* Borde redondeado del thumb */
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
    /* Color del thumb al pasar el mouse por encima */
}